<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Mon site{% endblock %}</title>
    {#asset : lien vers les ressources externe (img,css...)#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    {#include : inclusion#}
    {% include 'inc/header.html.twig' %}

    {# block a remplir dans les template enfants#}
    <div class="row">
    {% block main %}{% endblock %}
    {% block aside %}{% endblock %}
    </div>
</div>
<script src="{{ asset("js/jquery-3.2.1.slim.min.js") }}"></script>
<script src="{{ asset("js/popper.min.js") }}"></script>
<script src="{{ asset("js/bootstrap.min.js") }}"></script>
</body>
</html>